@import url(http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Old+Standard+TT);

.background {
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
}

.body {
  height: 600px;
  width: 50%;
  margin: 0 auto;
  padding-top: 25px;
}

.header {
  height: 65px;
  background-color: #237544;
}

li {
  display: inline;
}

.footer {
  text-align: center;
  background-color: #225746;
  color: #eef2ed;
  font-family: 'Old Standard TT', serif;
  padding-top: 10px;
  padding-bottom: 15px;
}

.actionbutton {
  background-color: #8f2541;
  border: 2px solid #eef2ed;;
  border-radius: 25px;
  color: #eef2ed;
  cursor: pointer;
  display: inline-block;
  padding: 20px 50px;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 48px;
  text-align: center;
  margin-bottom: 15px;
}

p, .mainFont {
  font-family: 'Old Standard TT', serif;
  font-size: 18px;
  color: #eef2ed;
  line-height: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}






